@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

.board_main_body{
    height: 661px;
    background-color: #eaeaf0;
}

.board_main_body_container{
    position: relative;
    height: 680px;
    width: 1800px;
    background-color: rgb(255, 255, 255);
    top : 41%;
    left : 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0px 10px 0 rgb(0, 0, 0);
}

/*게시판 제목*/
.board_main_body_container_header_1{
    height: 80px;
    color: #b0b0b0;
    font-size: 25px;
    font-family: 'Bowlby One', cursive;
    margin-left: 12px;
    line-height: 80px;
    text-align: center;
}
.board_main_body_container_header_2{
    background-color: #ffffff;
    height: 40px;
    color: #4d4d4d;
    font-size: 25px;
    line-height: 50px;
    margin: 2px;
    display:flex;

}

/*******보드 타이틀 기준 리스트******/
.list_title_1{
    width: 70px;
    background-color: #e3e3e3;
    height: 40px;
    color: #3c3c3c;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

.list_title_2{
    width: 230px;
    background-color: #e3e3e3;
    height: 40px;
    color: #3c3c3c;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-left: 1px;
}

.list_title_3{
    width: 900px;
    background-color: #e3e3e3;
    height: 40px;
    color: #3c3c3c;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-left: 1px;
}

.list_title_4{
    width: 100px;
    background-color: #e3e3e3;
    height: 40px;
    color: #3c3c3c;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-left: 1px;
}

.list_title_5{
    width: 492px;
    background-color: #e3e3e3;
    height: 40px;
    color: #3c3c3c;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-left: 1px;
}

/*************/
.board-list{
    display: flex;
    height: 47px;

    font-weight: bold;
    font-size: 20px;
    margin: 3px;
    color: rgb(115, 21, 239);
    background-color: #ffffff;
    border: 9px solid;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0px 5px 0 rgb(146, 101, 202);
}

.board-list:hover{
    background-color: #ebe1ff;
    border-color: #e8e1ff;
}

/*보드의 리스트들 */
.board-list_t1{
    width: 50px;
    /* background-color: aqua; */
    font-size: 20px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    color: #3c3c3c;
}

.board-list_t2{
    width: 230px;
    /* background-color: rgb(84, 136, 136); */
    font-size: 17px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    margin-left: 10px;
    color: #3c3c3c;
}
.board-list_t3{
    width: 902px;
    /* background-color: rgb(11, 160, 160); */
    font-size: 17px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    color: #3c3c3c;
}
.board-list_t4{
    width: 101px;
    /* background-color: rgb(168, 22, 200); */
    font-size: 17px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    color: #3c3c3c;
}
.board-list_t5{
    width:479px;
    /* background-color: rgb(21, 172, 116); */
    font-size: 20px;
    font-weight: bold;
    line-height: 47px;
}


/********/
.board-list button{
    width:100px;
    height: 50px;
    background: linear-gradient(135deg, rgb(83, 28, 193), rgb(139, 112, 248));
    color:#fff;
    border:none;
    position:relative;
    font-size:15px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 50px;    
    font-weight: bold;
    margin-left: 48px;
}

.board-list button:hover{
    background: linear-gradient(135deg, rgb(163, 84, 227), rgb(139, 112, 248));
    font-weight: bold;
    color:#ffffff;
}

/*게시판 마무리*/
.board_main_body_container_footer{
    /* background-color: rgb(0, 132, 132); */
    height: 72px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*게시판 페이지 컨트롤러*/
.board_main_body_container_footer_page_controller{
    position: absolute;
    display: flex;
    top: 50%;
    /* background-color: blue; */
    width: 250px;
    height: 60px;
    left: 90%;
    transform: translate(-50%, -50%);
}

.board_main_body_container_footer_page_controller div{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-top: 11px;
    border-radius: 100px;
    border: 2px solid;
    border-color: rgb(189, 189, 189);
    cursor:pointer;
}

.r_next{
    height: 17px;
    width: 17px;
    cursor:pointer;
    margin-top: 11px;
    margin-left: 11px;
}

.r_nextnext{
    height: 17px;
    width: 17px;
    cursor:pointer;
    margin-top: 11px;
    margin-left: 11px;
}

.page_num{
    width: 45px;
    height: 45px;
    background-color: rgb(89, 38, 190);
    margin-left: 5px;
    margin-top: 7px;
    border-radius: 50px;
    
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;

    border-radius: 100px;
    border: 2px solid;
    border-color:  rgb(89, 38, 190);

    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    cursor:pointer;
}

.next{
    height: 17px;
    width: 17px;
    cursor:pointer;
    margin-top: 11px;
    margin-left: 11px;
}

.nextnext{
    height: 17px;
    width: 17px;
    cursor:pointer;
    margin-top: 11px;
    margin-left: 11px;
}