/* 카테고리3_로그인 및 회원가입*/
.home_header_kategory_3_after{
    display: flex;
    align-items: center;
}

/*카테고리3_리스트*/
.home_header_kategory_3_list_after{
    display: flex;
    width: 300px;
    margin-top: 20px;
    justify-content: space-evenly;
    cursor: pointer;
}

.home_header_kategory_3_list_after div{
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 80px;
    padding: 5px;
    border: 3px solid;
    border-radius: 7px;
    font-family: 'Bowlby One', cursive;
}
